@include '../layout.html'

<div class="w-full max-w-xl mx-auto py-32 space-y-4" hx-ext="response-targets">
    <div id="error"></div>
    <form
        hx-post="/api/auth/signin"
        hx-indicator="#spinner"
        hx-target-4*="#error"
		hx-target-5*="#error"
        class="form-control gap-4"
    >
        <div class="form-control">
            <label for="email">Email</label>
            <input
                type="email"
                required
                name="email"
                class="input input-primary"
            />
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input
                type="password"
                required
                minlength="3"
                name="password"
                class="input input-primary"
            />
        </div>
        <button type="submit" class="btn btn-primary mt-2">
            Sign In
            <span id="spinner" class="hidden animate-spin text-base-content">
                @include '../../assets/icons/loader.html'
            </span>
        </button>
    </form>
</div>
