<!DOCTYPE html>
<html lang="en">
    @include '../layout/head.html'
    <body>
        @include '../layout/header.html'
        <main class="flex">
            <div
                hx-get="/admin/sidemenu"
                hx-trigger="load"
                hx-swap="outerHTML"
                hx-headers='{"Location":"/books"}'
            ></div>
            <div class="p-6 flex-1">
                <h1 class="text-2xl font-bold mb-4 text-center">Book Dashboard</h1>
                <table
                    class="w-full border-collapse table-auto"
                >
                    <thead>
                        <tr
                            class="bg-base-200 text-gray-600 uppercase text-sm leading-normal"
                        >
                            <th class="py-3 px-6 text-left">Image</th>
                            <th class="py-3 px-6 text-left">Title</th>
                            <th class="py-3 px-6 text-left">Author</th>
                            <th class="py-3 px-6 text-left">Price</th>
                            <th class="py-3 px-6 text-left">Stock</th>
                            <th class="py-3 px-6 text-left"></th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        @for book in book_list
                        <tr
                            class="border-b border-base-200 hover:bg-base-200 font-medium"
                        >
                            <td class="py-3 px-6 text-left">
                                <img
                                    src="/api/books/@book.id/cover"
                                    alt="@book.title"
                                    class="w-10 h-10 rounded-md"
                                />
                            </td>
                            <td class="py-3 px-6 text-left">@book.title</td>
                            <td class="py-3 px-6 text-left">@book.author</td>
                            <td class="py-3 px-6 text-left">@book.price</td>
                            <td class="py-3 px-6 text-left">@book.stock</td>
                            <td class="py-3 px-6 text-left">
                                <button
                                    class="hover:text-base-content/30 transition-colors"
                                >
                                    <i data-lucide="more-vertical"></i>
                                </button>
                            </td>
                        </tr>
                        @end
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
