<form
    class="flex flex-col gap-2"
    hx-encoding="multipart/form-data"
    hx-post="/api/books"
>
    <h3>New book</h3>
    <div class="form-control">
        <label class="input-group">
            <span>Book cover</span>
            <input
                type="file"
                class="file-input file-input-bordered"
                name="image"
            />
        </label>
    </div>
    <div class="form-control">
        <label class="input-group">
            <span>Title</span>
            <input type="text" class="input input-bordered" name="title" />
        </label>
    </div>
    <div class="form-control">
        <label class="input-group">
            <span>Author name</span>
            <input type="text" class="input input-bordered" name="author" />
        </label>
    </div>
    <div class="form-control">
        <label class="input-group">
            <span>Price</span>
            <input type="number" class="input input-bordered" name="price" />
        </label>
    </div>
    <div class="form-control">
        <label class="input-group">
            <span>Stock</span>
            <input type="number" class="input input-bordered" name="stock" />
        </label>
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
